<!DOCTYPE html>
<html>
  <head>
    <title>Vote Party 🎲</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="styles.css"></link>
  </head>
  <header>
    <h1 id="header-title">Vote Party 🎲</h1>
    <div id="header-profile-stats">
      <h2>🎴 0</h2>
      <h2>🪙 0</h2>
      <h2>🔑 0</h2>
    </div>
  </header>
  <body>
    <div id="main-wrapper">
      <div id="content-nav-wrapper">
        <button
          hx-get="/pages/party"
          hx-target="#content-switcher"
        >Party</button>
        <button
          class="active"
          hx-get="/pages/cards"
          hx-target="#content-switcher"
        >Cards</button>
        <button
          hx-get="/pages/profile"
          hx-target="#content-switcher"
        >Profile</button>
      </div>
      <div id="content-switcher"
        hx-trigger="load"
        hx-get="/pages/cards"
      ></div>
    </div>

    <script src="js/nav.js"></script>

  </body>
</html>
