<div id="card-groups-wrapper">
  <div id="card-group-inplay" class="card-group">
    <img src="img/poker/cards/hearts/2.png" class="card"/>
    <img src="img/poker/cards/hearts/k.png" class="card"/>
    <img src="img/poker/cards/clubs/joker.png" class="card"/>
  </div>
  <h1 id="countdown-timer">Loading...</h1>
  <div id="card-group-future" class="card-group">
    <img src="img/poker/cardsfacedown/red.png" class="card"/>
    <img src="img/poker/cardsfacedown/black.png" class="card"/>
    <img src="img/poker/cardsfacedown/red.png" class="card"/>
  </div>
</div>
